<html lang="vi">
<head>
    <title>SuoiLanhMart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta property="og:title" content="SuoiLanhMart">
    <meta property="description" content="SuoiLanhMart">
    <meta name="description" content="SuoiLanhMart">
    <meta property="og:description" content="SuoiLanhMart">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="SuoiLanhMart">
    <meta property="og:image" content="#">
    <meta property="image" content="#">
    <meta name="author" content="SuoiLanhMart.com">
    <meta name="copyright" content="SuoiLanhMart.com">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
    <iframe src="javascript:void(0)" title="" style="width: 0px; height: 0px; border: 0px; display: none;"></iframe>
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript" src="https://bam.nr-data.net/1/3e048a051e?a=48470581&amp;v=1118.0c07c19&amp;to=NVVWNkFWXEZUVBEMXgwfZxJBXlxSdlgLEUMNXFgHQRh6WlhSNQRWB3NbDEdFXVlZUhdKWQ1dUQ%3D%3D&amp;rst=1754&amp;ref=https://www.adayroi.com/&amp;ap=135&amp;be=547&amp;fe=1383&amp;dc=1074&amp;af=err,xhr,stn,ins&amp;perf=%7B%22timing%22:%7B%22of%22:1552864937369,%22n%22:0,%22u%22:468,%22ue%22:468,%22f%22:1,%22dn%22:2,%22dne%22:3,%22c%22:3,%22s%22:31,%22ce%22:60,%22rq%22:61,%22rp%22:433,%22rpe%22:550,%22dl%22:495,%22di%22:970,%22ds%22:1074,%22de%22:1248,%22dc%22:1382,%22l%22:1382,%22le%22:1397%7D,%22navigation%22:%7B%22ty%22:1%7D%7D&amp;jsonp=NREUM.setToken"></script>
    <script async="" charset="utf-8" src="https://v2.zopim.com/?52VHNT63LNSDYzsViPFw7NiiQ5qpaOWh" type="text/javascript"></script>
    <script type="text/javascript" async="" src="//script.crazyegg.com/pages/scripts/0074/8984.js?431351"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TMHP8LD"></script>
    <script type="text/javascript" async="" src="https://www.res-x.com/ws/r2/Resonance.aspx?appid=vingroup01&amp;tk=418336574275546&amp;ss=487602997251524&amp;sg=1&amp;pg=152726521248898&amp;vr=5.10x&amp;bx=true&amp;sc=homer_rr&amp;sc=home2_rr&amp;sc=home1_rr&amp;sc=home3_rr&amp;no=20&amp;gender=UNKNOWN&amp;includelocations=8|760|26740&amp;ccb=certonaRecommendations&amp;ur=https%3A%2F%2Fwww.adayroi.com%2F&amp;plk=&amp;rf="></script>
    <script src="https://js-agent.newrelic.com/nr-1118.min.js"></script>
    <script src="Scripts/script.js"></script>
    <link rel="canonical" href=https://www.suoilanhmartcom/">
    <!--<link rel="dns-prefetch" href="https://css.static-adayroi.com/">
    <link rel="dns-prefetch" href="https://media.static-adayroi.com/">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/">-->

    <link id="spStyleCss" rel="stylesheet" href="//adayroi.api.useinsider.com/css/sp-style.css?v=0.1" type="text/css" media="screen">
    <link href="~/Content/style_new.css" rel="stylesheet" />
    <script>var mediator = (function () { var subscribe = function (tracker, fn) { if (!mediator.trackers[tracker]) { mediator.trackers[tracker] = []; } mediator.trackers[tracker].push({ context: this, callback: fn }); return this; }, publish = function (tracker) { if (!mediator.trackers[tracker]) { return false; } var args = Array.prototype.slice.call(arguments, 1); for (var i = 0, l = mediator.trackers[tracker].length; i < l; i++) { var subscription = mediator.trackers[tracker][i]; subscription.callback.apply(subscription.context, args); } return this; }, publishAll = function () { if (Object.keys(mediator.trackers).length === 0) { return false; } for (var tracker in mediator.trackers) { var args = [tracker].concat(Array.prototype.slice.call(arguments)); mediator.publish.apply(this, args); } return this; }; return { trackers: {}, publish: publish, publishAll: publishAll, subscribe: subscribe } })();</script>
    <script type="text/javascript" async="">dataLayer = [];</script>
    <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/949346237/?random=1552864939109&amp;cv=9&amp;fst=1552864939109&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1040&amp;u_aw=1920&amp;u_cd=24&amp;u_his=2&amp;u_tz=420&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2wg3b2&amp;sendb=1&amp;data=ecomm_pagetype%3Dhome%3BconnnectedtVingroupCard%3Dno&amp;frm=0&amp;url=https%3A%2F%2Fwww.adayroi.com%2F&amp;tiba=Adayroi.com%20%7C%20Trung%20t%C3%A2m%20th%C6%B0%C6%A1ng%20m%E1%BA%A1i%20%C4%91i%E1%BB%87n%20t%E1%BB%AD%20c%E1%BB%A7a%20Vingroup%20-%20Adayroi.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
    <style media="print" class="jx_ui_StyleSheet" __jx__id="___$_2" type="text/css">
        .zopim {
            display: none !important;
        }
    </style>
    <script type="text/javascript" async="" src="//api.useinsider.com/js/squery.min.js"></script>
    <style class="keyframe-style" id="boost-keyframe" type="text/css">
        .boostKeyframe {
            transform: scale3d(1,1,1);
        }
    </style>
    <style id="insider-custom-css-c190" type="text/css" class="insider-custom-style">
        div#ins-banner-wrapper-c190 {
            display: flex;
            width: 100%;
            height: 110px;
            background-color: #f7f7f7;
            position: relative;
            border: 1px solid #dbdbe3;
            justify-content: center;
            font-weight: 400
            /* z-index: 999999 ; */
            border-radius: 5px;
        }

            div#ins-banner-wrapper-c190 *:focus {
                outline: 0 !important;
            }

            div#ins-banner-wrapper-c190 > * {
                display: flex;
                height: 100%;
                margin: 0px 10px;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

            div#ins-banner-wrapper-c190 .ins-banner-input {
                height: 40px;
                border-radius: 5px;
                font-size: 14px;
                width: 100%;
            }

            div#ins-banner-wrapper-c190 .ins-banner-left {
                display: flex;
                flex-wrap: wrap;
                font-size: 14px;
                flex-direction: column;
            }

                div#ins-banner-wrapper-c190 .ins-banner-left * {
                    width: 70%;
                }

            div#ins-banner-wrapper-c190 .ins-banner-title,
            div#ins-banner-wrapper-c190 .ins-banner-success-title {
                font-weight: bold;
            }

            div#ins-banner-wrapper-c190 .ins-banner-success {
                display: none;
                font-size: 15px;
                position: relative;
            }

                div#ins-banner-wrapper-c190 .ins-banner-success * {
                    display: flex;
                    font-size: 15px;
                    align-items: center;
                }

            div#ins-banner-wrapper-c190 .ins-banner-form {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }

                div#ins-banner-wrapper-c190 .ins-banner-form * {
                    display: flex;
                }

            div#ins-banner-wrapper-c190 .ins-banner-gift-box {
                font-size: 11px;
                border: 2px dotted gray;
                border-radius: 5px;
                background-color: #efefef;
                align-items: center;
                padding: 5px;
                margin: 0px 20px 0px 0px;
                font-weight: 500;
                min-width: 170px;
            }

                div#ins-banner-wrapper-c190 .ins-banner-gift-box * {
                    margin: 0px 5px;
                }

                div#ins-banner-wrapper-c190 .ins-banner-gift-box img {
                    width: 30px;
                }

            div#ins-banner-wrapper-c190 .ins-banner-email-box {
                width: 280px;
            }

                div#ins-banner-wrapper-c190 .ins-banner-email-box input.ins-banner-input {
                    border: 1px solid gray;
                    padding: 10px;
                }

            div#ins-banner-wrapper-c190 .ins-input-error {
                border: 1px solid #c72f29 !important;
            }

            div#ins-banner-wrapper-c190 .ins-banner-submit-box button.ins-banner-input {
                background-color: #c72f29;
                padding: 0px 20px;
                color: white;
                min-width: 125px;
            }

            div#ins-banner-wrapper-c190 .ins-banner-right input[type='radio'] {
                display: none;
            }

            div#ins-banner-wrapper-c190 .ins-banner-right label.ins-gender-box-label.ins-banner-input {
                background-color: white;
                border: 1px solid gray;
                padding: 5px 16px;
                cursor: pointer;
                margin: 0px;
                height: 30px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            div#ins-banner-wrapper-c190 .ins-banner-right .ins-banner-gender-box label.ins-banner-input:nth-child(2) {
                margin: 0px 10px 0px 0px;
            }

            div#ins-banner-wrapper-c190 .ins-banner-right .ins-banner-gender-box input[type='radio']:checked + label {
                background-color: #464850;
                color: #FFF;
            }

            div#ins-banner-wrapper-c190 .ins-banner-right .ins-banner-submit-box {
                margin: 0px 0px 0px 15px;
            }

            div#ins-banner-wrapper-c190 div.ins-error-message {
                background-color: white;
                width: inherit;
                position: absolute;
                color: #c72f29;
                align-items: center;
                padding: 0px 10px;
                font-size: 12px;
                border-radius: 5px;
                display: none;
            }

            div#ins-banner-wrapper-c190 div#ins-email-error {
                height: 30px;
                bottom: 5px;
            }

            div#ins-banner-wrapper-c190 div#ins-gender-error {
                height: 45px;
                bottom: -5px;
                flex-wrap: wrap;
                width: 126.5px;
            }

            div#ins-banner-wrapper-c190 img.ins-edit-image {
                width: 35px;
                padding: 7px 10px;
                cursor: pointer;
                height: 29px;
            }

            div#ins-banner-wrapper-c190 img.ins-success-image {
                width: 32px;
                position: absolute;
                top: 5px;
                left: -40px;
            }

            div#ins-banner-wrapper-c190 .ins-banner-edit .ins-banner-title {
                margin: 0px 10px 0px 0px;
            }
    </style>
    <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/960835642/?random=1552864941117&amp;cv=9&amp;fst=1552864941117&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=376635471&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1040&amp;u_aw=1920&amp;u_cd=24&amp;u_his=2&amp;u_tz=420&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oa3b2&amp;sendb=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Fwww.adayroi.com%2F&amp;tiba=Adayroi.com%20%7C%20Trung%20t%C3%A2m%20th%C6%B0%C6%A1ng%20m%E1%BA%A1i%20%C4%91i%E1%BB%87n%20t%E1%BB%AD%20c%E1%BB%A7a%20Vingroup%20-%20Adayroi.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
    <script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/960835642/?random=1552864941123&amp;cv=9&amp;fst=1552864941123&amp;num=1&amp;label=4BUxCLvZ8I8BELrglMoD&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;eid=376635471&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1040&amp;u_aw=1920&amp;u_cd=24&amp;u_his=2&amp;u_tz=420&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oa3b2&amp;sendb=1&amp;data=event%3Dconversion&amp;frm=0&amp;url=https%3A%2F%2Fwww.adayroi.com%2F&amp;tiba=Adayroi.com%20%7C%20Trung%20t%C3%A2m%20th%C6%B0%C6%A1ng%20m%E1%BA%A1i%20%C4%91i%E1%BB%87n%20t%E1%BB%AD%20c%E1%BB%A7a%20Vingroup%20-%20Adayroi.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>
</head>
<body class="page-vinhomepage2 pageType-ContentPage template-pages-layout-vinHomePageTemplate2 pageLabel-homepage2 language-vi">

    <div class="zopim" __jx__id="___$_169 ___$_169" data-test-id="ChatWidgetButton" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px; background: transparent; overflow: hidden; position: fixed; z-index: 16000002; width: 210px; height: 30px; right: 10px; bottom: 0px;">
        <iframe frameborder="0" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; margin: 0px; overflow: hidden; display: block;" src="about:blank" data-test-id="ChatWidgetButton-iframe"></iframe>
    </div>
    <div class="zopim" __jx__id="___$_4 ___$_4" data-test-id="ChatWidgetWindow" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px; background: transparent; overflow: hidden; position: fixed; z-index: 16000001; right: 10px; bottom: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px; display: none; width: 290px; height: 400px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;">
        <iframe frameborder="0" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; margin: 0px; overflow: hidden; display: block;" src="about:blank" data-test-id="ChatWidgetWindow-iframe"></iframe>
    </div>
    <div id="loader" class="loader hidden" style="display: none;">
    </div>
    <div class="hidden page-type-master">vinhomepage2 - false - </div>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TMHP8LD" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script type="text/javascript" async="">
        (function (d, s, id) { if (d.getElementById(id)) { return }; var el = d.createElement('div'); el.id = id; el.className = id; document.body.insertBefore(el, document.body.firstChild); loader.className += ' hidden' }(document, 'div', 'loader'))
    </script>
    <main id="page" data-currency-iso-code="VND">
        <a href="#skip-to-content" class="skiptocontent" data-role="none">text.skipToContent</a>
        <button class="bg-overlay" type="button"></button>
        <div class="slider__logo hidden-xs hidden-sm"></div>
        <header class="js-mainHeader animated">
            <div id="sticky-wrapper" class="sticky-wrapper" style="height: 56px;">
                <nav class="navigation navigation--middle js-navigation--middle">
                    <!--style="width: 1903px;"-->
                    <div class="container">
                        <div class="row desktop__nav">
                            <div class="nav__left col-xs-12 col-sm-11 col-md-8">
                                <div class="col-sm-3 hidden-xs hidden-sm">
                                    <div class="yCmsContentSlot js-site-logo">
                                        <div class="banner__component banner banner__component--logo">
                                            <a href="/" title="Adayroi.com">
                                                <img src="/Content/sys_page/image/logo.png" style="width: 150px;height: 42px;" />@*margin-top: -11px;width: 178px;height: 60px;*@
                                                <span class="">&nbsp;</span>
                                            </a>
                                        </div>
                                        <div class="content comp_0000GTPL">
                                            <style>
                                                .lp-product-tab .vinTab_header .lp-product-header .lp-product-header-tabs {
                                                    width: 100%;
                                                    overflow-y: hidden;
                                                }
                                            </style>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-9">
                                    <div class="site-search ">
                                        <div class="ui-front site-search-container">
                                            <form action="/" class="js-search-form" method="post">
                                                <div class="search-mobile">
                                                    <button class="c-icon search-back-button js-back-search hide">
                                                        <i class="polish-version-icon-back">
                                                        </i>
                                                    </button>

                                                    <div class="input-group">
                                                        <input type="text" title="Vui lòng nhập từ khóa để tìm kiếm" id="js-site-search-input" class="form-control js-site-search-input  ui-autocomplete-input" name="text" value="" maxlength="100" placeholder="Tìm sản phẩm, thương hiệu và danh mục" required="" autofocus="" onfocus="this.setSelectionRange(this.value.length * 2, this.value.length * 2)" oninvalid="this.setCustomValidity('Vui lòng nhập từ khóa để tìm kiếm')" oninput="setCustomValidity('')" data-options="{&quot;autocompleteUrl&quot; : &quot;/tim-kiem/autocomplete/AdayroiSearchBoxComponent&quot;,&quot;minCharactersBeforeRequest&quot; : &quot;2&quot;,&quot;waitTimeBeforeRequest&quot; : &quot;200&quot;,&quot;displayProductImages&quot; : true}" autocomplete="off">
                                                        <span class="input-group-btn btn-find-group">
                                                            <button class="btn btn-link " type="submit" style="background: #ed1d24; color: #ffffff;">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </span>
                                                        <span class="adr-icon c-icon js-clear-search hide">
                                                            <i class="polish-version-icon-remove-text"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="header__links__segment_mega_menu hidden-xs hidden-sm" style="display:block;">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="nav__right col-xs-6 col-sm-1 col-md-4 hidden-xs">
                                <ul class="yCmsContentSlot nav__links">
                                    @*<li class="liOffcanvas header--user-group">
                                        <div class="">
                                            <a href="#" role="button" class=" js-sign-in__popup c-button--log-inout js-is-special js-trigger-dropdown-button c-button--is-clicked">
                                                <div class="c-icon">
                                                    <i class="fab fa-facebook-f"></i>
                                                </div>
                                                <div class="c-icon">
                                                    <i class="fab fa-youtube"></i>
                                                </div>
                                                <span class="space-white"></span>
                                            </a><div class="dropdown-menu pop-hover-open c-dropdown-list--log-inout js-common-dropdown-list"><div class="guest-box"><div class="guest-banner text-center"><div class="adr_bg_login"></div></div><p class="guest-desc"></p><div class="row"><div class="col-xs-6"><button class="c-button--default c-button--small js-sign-up__popup_button"><div class="c-button__text-wrap"><span class="c-button-text-style c-button__text-style--default">Đăng ký</span></div></button></div><div class="col-xs-6"><button class="c-button--primary c-button--small js-sign-in__popup"><div class="c-button__text-wrap"><span class="c-button-text-style c-button__text-style--primary">Đăng nhập</span></div></button></div></div></div></div><span class="space-white"></span>
                                        </div>
                                    </li>
                                    <li class="liOffcanvas header--user-group">
                                        <div class="">
                                            <a href="#" role="button" class=" js-sign-in__popup c-button--log-inout js-is-special js-trigger-dropdown-button c-button--is-clicked">

                                                <div><span class="header-username"> Liên hệ</span></div>
                                                <span class="space-white"></span>
                                            </a><div class="dropdown-menu pop-hover-open c-dropdown-list--log-inout js-common-dropdown-list"><div class="guest-box"><div class="guest-banner text-center"><div class="adr_bg_login"></div></div><p class="guest-desc"></p><div class="row"><div class="col-xs-6"><button class="c-button--default c-button--small js-sign-up__popup_button"><div class="c-button__text-wrap"><span class="c-button-text-style c-button__text-style--default">Đăng ký</span></div></button></div><div class="col-xs-6"><button class="c-button--primary c-button--small js-sign-in__popup"><div class="c-button__text-wrap"><span class="c-button-text-style c-button__text-style--primary">Đăng nhập</span></div></button></div></div></div></div><span class="space-white"></span>
                                        </div>
                                    </li>*@
                                    <li class="liOffcanvas">
                                        <div class="">
                                            <a href="#" role="button">
                                                <div class="c-icon">
                                                    <i class="fab fa-facebook-f"></i>
                                                </div>
                                                <span class="space-white"></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="liOffcanvas">
                                        <div class="">
                                            <a href="#" role="button">
                                                <div class="c-icon">
                                                    <i class="fab fa-youtube"></i>
                                                </div>
                                                <span class="space-white"></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="liOffcanvas">
                                        <div class="">
                                            <a href="tel:0274 3617029" role="button">
                                             <h4>Hotline: 0274 3617029</h4>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="nav-cart js-nav-cart is-hover">
                                            <span class="space-white"></span>

                                            <a href="/cart" class="mini-cart-link js-mini-cart-link" data-mini-cart-url="/cart/rollover" data-mini-cart-refresh-url="/cart/miniCart/SUBTOTAL" data-mini-cart-name="Cart" data-mini-cart-empty-name="Empty Cart" data-mini-cart-items-text="Items">
                                                <div class="mini-cart-icon">
                                                    <span class="adr-icon icon-cart-2 hidden-xs hidden-sm">
                                                        <i class="fas fa-shopping-cart"></i>
                                                    </span>
                                                    <span class="adr-icon icon-cart-2 icon-new-cart-full visible-xs visible-sm">
                                                    </span>
                                                    <span class="mini-cart-total-product js-cart-total-unit">0</span>
                                                </div>
                                            </a>
                                            <div class="mini-shopping-cart js-mini-shopping-cart hidden-xs hidden-sm">
                                                <apm_do_not_touch>
                                                    <script type="text/javascript">
                                                        //<![CDATA[
                                                        (function () {
                                                            var securemsg;
                                                            var dosl7_common;

                                                            window.yhD = !!window.yhD; try {
                                                                (function () {
                                                                    (function () {
                                                                        var L = -1, L = { _: ++L, js: "false"[L], I: ++L, jL: "false"[L], sI: ++L, i5: "[object Object]"[L], Lo: (L[L] + "")[L], lL: ++L, lo: "true"[L], LI: ++L, SI: ++L, Js: "[object Object]"[L], S: ++L, Jj: ++L, JzI: ++L, jzI: ++L }; try {
                                                                            L.IL = (L.IL = L + "")[L.SI] + (L.Jl = L.IL[L.I]) + (L.Is = (L.jl + "")[L.I]) + (!L + "")[L.lL] + (L.ll = L.IL[L.S]) + (L.jl = "true"[L.I]) + (L.zo = "true"[L.sI]) + L.IL[L.SI] + L.ll + L.Jl + L.jl, L.Is = L.jl + "true"[L.lL] + L.ll + L.zo + L.jl + L.Is, L.jl = L._[L.IL][L.IL], L.jl(L.jl(L.Is + '"\\' + L.I + L.SI + L.I + L.js + "\\" + L.LI + L._ + "(" + L.ll + "\\" + L.I + L.Jj +
                                                                                L.I + "\\" + L.I + L.S + L._ + L.lo + L.Jl + L.js + "\\" + L.LI + L._ + "\\" + L.I + L.S + L.Jj + "\\" + L.I + L.SI + L.I + "\\" + L.I + L.SI + L.S + L.Lo + L.Jl + "\\" + L.I + L.S + L.Jj + "['\\" + L.I + L.S + L._ + L.jL + "\\" + L.I + L.Jj + L.I + "false"[L.sI] + L.Jl + L.jL + L.Lo + "']\\" + L.LI + L._ + "===\\" + L.LI + L._ + "'\\" + L.I + L.S + L.lL + L.ll + "\\" + L.I + L.S + L.sI + "\\" + L.I + L.SI + L.I + "\\" + L.I + L.SI + L.S + "\\" + L.I + L.LI + L.Jj + "')\\" + L.LI + L._ + "{\\" + L.I + L.sI + "\\" + L.I + L.I + "\\" + L.I + L.S + L.S + L.jL + "\\" + L.I + L.S + L.sI + "\\" + L.LI + L._ + L.lo + L.Lo + "\\" + L.I + L.S + L.S + L.Js + "\\" + L.I + L.Jj + L.I + L.zo + "\\" + L.I + L.SI + L.sI +
                                                                                "\\" + L.I + L.SI + L.lL + "\\" + L.I + L.S + L._ + "\\" + L.LI + L._ + "=\\" + L.LI + L._ + "\\" + L.I + L.S + L.Jj + "\\" + L.I + L.SI + L.I + "\\" + L.I + L.SI + L.S + L.Lo + L.Jl + "\\" + L.I + L.S + L.Jj + "['\\" + L.I + L.S + L._ + L.jL + "\\" + L.I + L.Jj + L.I + "false"[L.sI] + L.Jl + L.jL + L.Lo + "'].\\" + L.I + L.S + L.sI + L.lo + "\\" + L.I + L.S + L._ + "false"[L.sI] + L.jL + L.Js + L.lo + "(/.{" + L.I + "," + L.LI + "}/\\" + L.I + L.LI + L.Jj + ",\\" + L.LI + L._ + L.js + L.zo + "\\" + L.I + L.SI + L.S + L.Js + L.ll + "\\" + L.I + L.SI + L.I + L.Jl + "\\" + L.I + L.SI + L.S + "\\" + L.LI + L._ + "(\\" + L.I + L.Jj + L._ + ")\\" + L.LI + L._ + "{\\" + L.I + L.sI + "\\" + L.I + L.I +
                                                                                "\\" + L.I + L.I + "\\" + L.I + L.I + "\\" + L.I + L.S + L.sI + L.lo + L.ll + L.zo + "\\" + L.I + L.S + L.sI + "\\" + L.I + L.SI + L.S + "\\" + L.LI + L._ + "(\\" + L.I + L.Jj + L._ + "\\" + L.LI + L._ + "+\\" + L.LI + L._ + "\\" + L.I + L.Jj + L._ + ").\\" + L.I + L.S + L.lL + L.zo + L.i5 + "\\" + L.I + L.S + L.lL + L.ll + "\\" + L.I + L.S + L.sI + "(" + L.sI + ",\\" + L.LI + L._ + L.LI + ")\\" + L.I + L.sI + "\\" + L.I + L.I + "\\" + L.I + L.I + "});\\" + L.I + L.sI + "}\\" + L.I + L.sI + '"')())()
                                                                        } catch (z) { L %= 5 }
                                                                    })(); var OL = 58;
                                                                    try { var sL, _L, IL = O(416) ? 0 : 1, JL = O(522) ? 0 : 1, Lo = O(967) ? 0 : 1, oo = O(534) ? 0 : 1, zo = O(998) ? 0 : 1, io = O(548) ? 0 : 1, Jo = O(564) ? 0 : 1, zO = O(993) ? 0 : 1, ZO = O(682) ? 0 : 1; for (var SO = (O(91), 0) ; SO < _L; ++SO) IL += O(426) ? 1 : 2, JL += O(614) ? 1 : 2, Lo += (O(29), 2), oo += O(860) ? 1 : 2, zo += O(386) ? 1 : 2, io += O(585) ? 1 : 2, Jo += O(403) ? 1 : 2, zO += (O(629), 2), ZO += (O(649), 3); sL = IL + JL + Lo + oo + zo + io + Jo + zO + ZO; window.Oo === sL && (window.Oo = ++sL) } catch (_O) { window.Oo = sL } var IO = !0;
                                                                    function lO(L) { var z = 28; !L || document[Z(z, 146, 133, 143, 133, 126, 133, 136, 133, 144, 149, 111, 144, 125, 144, 129)] && document[S(z, 146, 133, 143, 133, 126, 133, 136, 133, 144, 149, 111, 144, 125, 144, 129)] !== _(68616527638, z) || (IO = !1); return IO } function _(L, z) { L += z; return L.toString(36) } function Oz() { } lO(window[Oz[Z(OL, 168, 155, 167, 159)]] === Oz); lO(typeof ie9rgb4 !== _(1242178186141, OL)); lO(RegExp("\x3c")[_(1372147, OL)](function () { return "\x3c" }) & !RegExp(_(42831, OL))[_(1372147, OL)](function () { return "'x3'+'d';" }));
                                                                    var Zz = window[Z(OL, 155, 174, 174, 155, 157, 162, 127, 176, 159, 168, 174)] || RegExp(Z(OL, 167, 169, 156, 163, 182, 155, 168, 158, 172, 169, 163, 158), _(-40, OL))[S(OL, 174, 159, 173, 174)](window["\x6e\x61vi\x67a\x74\x6f\x72"]["\x75\x73e\x72A\x67\x65\x6et"]), sz = +new Date + (O(298) ? 6E5 : 689210), Sz, iz, jz, Jz = window[Z(OL, 173, 159, 174, 142, 163, 167, 159, 169, 175, 174)], LZ = Zz ? O(528) ? 16809 : 3E4 : O(815) ? 6040 : 6E3;
                                                                    document[Z(OL, 155, 158, 158, 127, 176, 159, 168, 174, 134, 163, 173, 174, 159, 168, 159, 172)] && document[S(OL, 155, 158, 158, 127, 176, 159, 168, 174, 134, 163, 173, 174, 159, 168, 159, 172)](Z(OL, 176, 163, 173, 163, 156, 163, 166, 163, 174, 179, 157, 162, 155, 168, 161, 159), function (L) {
                                                                        var z = 38; document[Z(z, 156, 143, 153, 143, 136, 143, 146, 143, 154, 159, 121, 154, 135, 154, 139)] && (document[S(z, 156, 143, 153, 143, 136, 143, 146, 143, 154, 159, 121, 154, 135, 154, 139)] === _(1058781945, z) && L[Z(z, 143, 153, 122, 152, 155, 153, 154, 139, 138)] ? jz = !0 : document[Z(z, 156, 143, 153, 143,
                                                                            136, 143, 146, 143, 154, 159, 121, 154, 135, 154, 139)] === _(68616527628, z) && (Sz = +new Date, jz = !1, OZ()))
                                                                    }); function Z(L) { var z = arguments.length, s = []; for (var J = 1; J < z; ++J) s.push(arguments[J] - L); return String.fromCharCode.apply(String, s) } function OZ() { if (!document[S(24, 137, 141, 125, 138, 145, 107, 125, 132, 125, 123, 140, 135, 138)]) return !0; var L = +new Date; if (L > sz && (O(760) ? 614318 : 6E5) > L - Sz) return lO(!1); var z = lO(iz && !jz && Sz + LZ < L); Sz = L; iz || (iz = !0, Jz(function () { iz = !1 }, O(154) ? 1 : 0)); return z } OZ();
                                                                    var sZ = [O(397) ? 15256013 : 17795081, O(68) ? 27611931586 : 2147483647, O(913) ? 2118437539 : 1558153217]; function S(L) { var z = arguments.length, s = [], J = 1; while (J < z) s[J - 1] = arguments[J++] - L; return String.fromCharCode.apply(String, s) }
                                                                    function SZ(L) { var z = 80; L = typeof L === _(1743045596, z) ? L : L[S(z, 196, 191, 163, 196, 194, 185, 190, 183)](O(685) ? 52 : 36); var s = window[L]; if (!s[Z(z, 196, 191, 163, 196, 194, 185, 190, 183)]) return; var J = "" + s; window[L] = function (L, z) { iz = !1; return s(L, z) }; window[L][S(z, 196, 191, 163, 196, 194, 185, 190, 183)] = function () { return J } } for (var ZO = (O(901), 0) ; ZO < sZ[_(1294399147, OL)]; ++ZO) SZ(sZ[ZO]); lO(!1 !== window[S(OL, 179, 162, 126)]); window.oO = { Zz: "08e52021f081b8003a3fb5e2dc188a6b28b019685626909869c542b84d3b44bfce6472e456a84189c810eda1e8d053d2a277dc9e2fd6136938dbd479b2ddcf35d4e4151691a0eef62c1aa6859f2608e575b1618d8a5899cca24f797f81eb3afca4705daa460572a0b8ec5e683ecf3a785b7d1b32d8ed19476132afad2025dd194bb5b253c304142901c21ce45a4820333b90df8e48188f8aaf81ae20510d407a72655f93b6170f715542ddbea84c0e139c7ee4b963e32d6cd57b12300fb51c7e" };
                                                                    function _Z(L) { var z = +new Date, s; !document[Z(85, 198, 202, 186, 199, 206, 168, 186, 193, 186, 184, 201, 196, 199, 150, 193, 193)] || z > sz && (O(385) ? 743288 : 6E5) > z - Sz ? s = lO(!1) : (s = lO(iz && !jz && Sz + LZ < z), Sz = z, iz || (iz = !0, Jz(function () { iz = !1 }, O(153) ? 1 : 0))); return !(arguments[L] ^ s) } function O(L) { return 348 > L } (function (L) { L || setTimeout(function () { var L = setTimeout(function () { }, 250); for (var s = 0; s <= L; ++s) clearTimeout(s) }, 500) })(!0);
                                                                })();
                                                            } catch (x) {
                                                            } finally { ie9rgb4 = void (0); }; function ie9rgb4(a, b) { return a >> b >> 0 };

                                                        })();

                                                        //]]>
                                                    </script>
                                                </apm_do_not_touch>
                                                <script type="text/javascript" src="/TSbd/08f375419cab2000230c3e3fa674f67a044992bfe7b19eb6e573544a6e5bf11df55384cf52679a1f?type=3"></script>
                                                <script type="text/javascript" async="">function standardLocationData() { var location = {}; try { location.availability = "No"; location.name = ""; if (typeof moreInfo !== 'undefined' && moreInfo.hasOwnProperty("gtmDataLayer") && moreInfo.gtmDataLayer.hasOwnProperty("userCity") && moreInfo.gtmDataLayer.userCity != "UNKNOWN") { location.availability = "Yes"; location.name = moreInfo.gtmDataLayer.userCity + "/" + moreInfo.gtmDataLayer.userDistrict + "/" + moreInfo.gtmDataLayer.userWard; } } catch (err) { } return location; }; try { if (typeof moreInfo !== 'undefined' && true) { var products = []; for (var i = 0; i < Object.values(moreInfo.entries).length; i++) { try { var offerId = Object.values(moreInfo.entries)[i]; products[i] = { "id": moreInfo[offerId].id, "sku": moreInfo[offerId].sku, "name": moreInfo[offerId].name, "variant": moreInfo[offerId].variant, "quantity": moreInfo[offerId].quantity, "price": { "original": moreInfo[offerId].originalPrice, "discounted": moreInfo[offerId].discountedPrice, "discount": moreInfo[offerId].discountPrice }, "category": { "id": moreInfo[offerId].categoryId, "name": moreInfo[offerId].categoryName, "path": moreInfo[offerId].categoryPath }, "brand": { "id": moreInfo[offerId].brandId, "name": moreInfo[offerId].brandName }, "merchant": { "id": moreInfo[offerId].merchantId, "name": moreInfo[offerId].merchantName }, "location": { "availability": moreInfo[offerId].availability, "name": this.standardLocationData().name }, "issue": moreInfo[offerId].issue }; } catch (err) { } }; dataLayer.push({ "event": "pageview", "user": { "status": "Anonymous", "id": "UNKNOWN", "type": "Email", "vinid": "", "totalvalue": "", "tier": "", "location": "Phường Bến Nghé/Quận 1/Hồ Chí Minh" }, "page": { "id": "Cart", "name": "Trang giỏ hàng", "referrer": document.referrer, "href": document.URL }, "ecomm_totalvalue": "", "ecomm_prodid": "", "productArray": products, "cartID": moreInfo.cartCode != null ? moreInfo.cartCode : "" }); } } catch (err) { }</script>
                                                <script type="text/javascript">
                                                    try {
                                                        var moreInfo = {};
                                                    } catch (err) {
                                                    }
                                                </script>
                                                <div class="mini-shopping-cart__content">
                                                    <figure class="mini-shopping-cart__empty">
                                                        <div class="adr_bg_cartempty"></div>
                                                    </figure>
                                                    <p class="mini-shopping-cart__empty-message">Bạn chưa có sản phẩm trong giỏ hàng</p>
                                                </div>
                                                <div style="display:none">
                                                    <div class="cart-page-collaterals">
                                                        <span class="btn-expand-info-total">
                                                            <i class="adr-icon icon-view-menu-up"></i>
                                                            <i class="adr-icon icon-view-menu-down"></i>
                                                        </span>
                                                        <div class="cart-page-product-totals">
                                                            <div class="cart-page-product-subtotal">
                                                                <span class="cart-page-product-subtotal__text">Thành tiền:</span>
                                                                <strong class="cart-page-product-subtotal__price-amount">0đ</strong>
                                                            </div>
                                                            <div class="subtotal-promotion-list-message">

                                                            </div>

                                                            <div class="cart-page-product__order-total">
                                                                <span class="cart-page-product__order-total-text">Tổng tiền</span>
                                                                <strong class="cart-page-product__order-total-price">0đ</strong>
                                                            </div>


                                                            <span class="cart-page-product__order-note">Giá đã bao gồm VAT</span>



                                                            <div class="cart-submit">



                                                                <a href="/login/checkout" class="cart-page-checkout-button js-cart-checkout-button ">Tiến hành thanh toán</a>


                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <script type="text/javascript">
                                                    if (document.readyState === 'complete') {
                                                        if (false) {
                                                            vinStorage.setItem('miniCartTotal', 0);
                                                            vinStorage.setItem('code');
                                                        }
                                                    }
                                                </script>
                                            </div>
                                            <div class="mini-cart-container js-mini-cart-container"></div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="d-warning-sms d-warning-sms--out-of-product js-warning-quick-add-to-cart hide"></div>
                        </div>
                    </div>
                </nav>
            </div>
            <a id="skiptonavigation"></a>
            <div class="vinheader-filterbarsticky hide">
                <div class="filter-bar visible-xs visible-sm">
                    <div class="sort-wrap">
                        <button class="sort-btn js-open-sort">
                            <div class="d-icon">
                                <i class="polish-version-icon-sort"></i>
                            </div>
                            <span>Sắp xếp</span>
                        </button>
                    </div>
                    <div class="filter-wrap">
                        <button class="filter-btn js-open-filter">
                            <div class="d-icon">
                                <i class="polish-version-icon-filter-24px"></i>
                            </div>
                            <span>Bộ lọc </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal modal-adr modal-theatre fade in" role="dialog" id="modal-quick-view" aria-hidden="false" data-offer-code="">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="d-button modalquickview__viewmorebtn js-link-product-detail" data-dismiss="modal">
                            <span>Xem chi tiết</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        @*<script type="application/ld+json">
                {
                "@context": "http://schema.org/",
                "@type": "WebSite",
                "name": "Adayroi",
                "url": https://www.suoilanhmartcom/",
                "potentialAction":
                {
                "@type": "SearchAction",
                "target": https://www.suoilanhmartcom/tim-kiem?text={search_term_string}",
                "query-input": "required name=search_term_string"
                }
                }

            </script>*@
        @*<script type="application/ld+json">
                {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "Adayroi",
                "url": "https://www.adayroi.com",
                "logo": "https://media.static-adayroi.com/sys_master/images/h49/h37/15474515214366.png",
                "contactPoint":
                {
                "@type": "ContactPoint",
                "telephone": "+842439759568",
                "contactType": "customer service",
                "areaServed": "VN",
                "availableLanguage": "Vietnamese"
                },
                "sameAs": "https://www.facebook.com/ADR.Vingroup/"
                }

            </script>*@
        <script type="text/javascript" async="">
            var _certona = {
                "_userLocationIds": "8, 760, 26740",
                "_pageID": "HomePageType",
                "gender": "UNKNOWN",
                "recommendations": true
            };
        </script>
        <script type="text/javascript" async="">
            dataLayer.push({
                "event": "pageview",
                "user": {
                    "status": "Anonymous",
                    "id": "UNKNOWN",
                    "type": "Email",
                    "vinid": "",
                    "totalvalue": "",
                    "tier": "",
                    "location": "Phường Bến Nghé , Quận 1, Hồ Chí Minh",
                    "email": "",
                    "fullName": "",
                    "isConnectedToVingroupCard": "",
                    "mobileNumber": "",
                },
                "page": {
                    "id": "Home",
                    "name": "Trang chủ",
                    "referrer": document.referrer,
                    "href": document.URL,
                    "platform": ""
                },
                "landing": {
                    "id": "",
                    "name": "",
                    "type": "",
                },
                "ecomm_totalvalue": "",
                "ecomm_prodid": ""
            });

        </script>
        <script type="text/javascript">window.addEventListener('scroll', function (ev) { var wt = $(window).scrollTop(); var wb = wt + $(window).height(); var ot = $('#cs_000022UQ').offset().top; var ob = ot + $('#cs_000022UQ').height(); if (!$('#cs_000022UQ').attr("loaded") && wt <= ob && wb >= ot) { ACC.requests.loadContentSlot('cs_000022UQ', 'cs_000022UQ', 'CSRFToken=5117f593-5512-4b4b-9991-9e4521b7f367&cmsPage=vinhomepage2&user=anonymous&BrandCode=null&offerCode=null&merchant=null&PdpTemplate=null&visibleComponents=comp_0000FH3S'); $('#cs_000022UQ').attr("loaded", true); } });</script><div id="cs_000022UQ" class="js-content-slot-ajax row " type="1" data="CSRFToken=5117f593-5512-4b4b-9991-9e4521b7f367&amp;cmsPage=vinhomepage2&amp;user=anonymous&amp;BrandCode=null&amp;offerCode=null&amp;merchant=null&amp;PdpTemplate=null&amp;visibleComponents=comp_0000FH3S"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
        @*Footer*@
        @RenderPage("~/Views/Shared/_Footer.cshtml")
        <div class="bottom-footer-container">
            <script type="text/javascript">window.addEventListener('scroll', function (ev) { var wt = $(window).scrollTop(); var wb = wt + $(window).height(); var ot = $('#cs_00000RSA').offset().top; var ob = ot + $('#cs_00000RSA').height(); if (!$('#cs_00000RSA').attr("loaded") && wt <= ob && wb >= ot) { ACC.requests.loadContentSlot('cs_00000RSA', 'cs_00000RSA', 'CSRFToken=5117f593-5512-4b4b-9991-9e4521b7f367&cmsPage=vinhomepage2&user=anonymous&BrandCode=null&offerCode=null&merchant=null&PdpTemplate=null&visibleComponents=comp_0000FH3Q,comp_00001FPO'); $('#cs_00000RSA').attr("loaded", true); } });</script><div id="cs_00000RSA" class="js-content-slot-ajax row " type="1" data="CSRFToken=5117f593-5512-4b4b-9991-9e4521b7f367&amp;cmsPage=vinhomepage2&amp;user=anonymous&amp;BrandCode=null&amp;offerCode=null&amp;merchant=null&amp;PdpTemplate=null&amp;visibleComponents=comp_0000FH3Q,comp_00001FPO"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"></div>
        </div>
    </main>
    <div class="popup__open-youtube">
        <div id="video-view" class="modal modal-adr modal-theatre fade modal-theatre-image fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form name="accessiblityForm">
        <input type="hidden" id="accesibility_refreshScreenReaderBufferField" name="accesibility_refreshScrewqqqeenReaderBufferField" value="">
    </form>
    <div id="ariaStatusMsg" class="skip" role="status" aria-relevant="text" aria-live="polite">

    </div>
    <script type="text/javascript">
        /*<![CDATA[*/ var ACC = ACC || {}; ACC.config = ACC.config || {};
        ACC.config.checkout = {}; ACC.config.contextPath = "";
        ACC.config.encodedContextPath = "";
        ACC.config.commonResourcePath = "https://css-ak.static-adayroi.com/_ui/responsive/common";
        ACC.config.themeResourcePath = "https://css-ak.static-adayroi.com/_ui/responsive/theme-alpha";
        ACC.config.siteResourcePath = "https://css-ak.static-adayroi.com/_ui/responsive/site-adayroi";
        ACC.config.rootPath = "https://css-ak.static-adayroi.com/_ui/responsive";
        ACC.config.CSRFToken = "5117f593-5512-4b4b-9991-9e4521b7f367";
        ACC.pwdStrengthVeryWeak = 'Very weak'; ACC.pwdStrengthWeak = 'Weak';
        ACC.pwdStrengthMedium = 'Medium'; ACC.pwdStrengthStrong = 'Strong';
        ACC.pwdStrengthVeryStrong = 'Very strong';
        ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
        ACC.pwdStrengthTooShortPwd = 'Too short';
        ACC.pwdStrengthMinCharText = 'Minimum length is %d characters';
        ACC.accessibilityLoading = 'Loading... Please wait...';
        ACC.accessibilityStoresLoaded = 'Stores loaded';
        ACC.config.googleApiKey = ""; ACC.config.googleApiVersion = "3.7";
        ACC.config.currentPageType = ""; ACC.config.isSuggestVinID = "false";
        ACC.config.loadFullAddress = 0; ACC.config.timeVersion = "1552746903949";
        ACC.config.bannerccp = "/0_0/80/"; ACC.config.bottomstopperccp = "/300_170/80/";
        ACC.config.topstopperccp = "/60_60/80/"; ACC.autocompleteUrl = '/search/autocompleteSecure';
        ACC.config.loginUrl = '/login'; ACC.config.profileUrl = '/my-account/profile';
        ACC.config.giftcodeUrl = '/my-account/gift-codes'; ACC.config.currency = "đ";
        ACC.config.logoutUrl = '/logout'; ACC.config.validateVinIdFormUrl = '/register/validateVinIdForm';
        ACC.config.registerValidateOTPUrl = '/register/validateOTP';
        ACC.config.validateVinIdEmailMissingUrl = '/register/validateVinIdEmailMissing';
        ACC.config.authenticationStatusUrl = '/authentication/status';
        ACC.config.normalSignupUrl = '/signup/normalSignup';
        ACC.config.validateVinIDFormURL = '/vinid/validateForm';
        ACC.config.validateVinIDPhoneURL = '/vinid/validatePhone';
        ACC.config.validateNormalSignupUrl = '/signup/validateNormalSignup';
        ACC.config.suggestVinIDUrl = '/suggestVinID';
        ACC.config.connectCurrentVinIDUrl = '/suggestVinID/connectCurrentVinID';
        ACC.config.connectOtherVinIDUrl = '/suggestVinID/connectOtherVinID';
        ACC.config.mapADRAndVinIDUrl = '/suggestVinID/mapADRAndVinID';
        ACC.config.validateRegisterVinIDUrl = '/suggestVinID/validateRegisterVinID';
        ACC.config.verifyOTPVinIDSystemUrl = '/suggestVinID/verifyOTPVinIDSystem';
        ACC.config.verifyOTPADRUrl = '/suggestVinID/verifyOTPADR';
        ACC.config.connectVinIDWithoutCaptchaUrl = '/suggestVinID/connectVinIDWithoutCaptcha';
        ACC.config.verifyOTPADRFromProfile = '/suggestVinID/verifyOTPADRFromProfile';
        ACC.config.suggestRewardPointUrl = '/suggestVinID/rewardPoint';
        ACC.config.localLoginUrl = '/login/local'; ACC.config.checkCaptchaUrl = '/login/local/captcha';
        ACC.config.verifyLoginOTPUrl = '/login/verifyotp'; ACC.config.sendLoginEmailUrl = '/login/sendemail';
        ACC.config.loginUserInfoURL = '/login/userinfo'; ACC.config.sendOTPUrl = '/otp';
        ACC.config.verifyOTPUrl = '/otp/_verify'; ACC.config.sendSecureOTPUrl = '/secureotp/send';
        ACC.config.verifySecureOTPUrl = '/secureotp/verify'; ACC.config.reSendVinIdOTPUrl = '/vinsystemotp/resend';
        ACC.config.verifyVinIdOTPUrl = '/vinsystemotp/verify'; ACC.config.postProductReviewUrl = '/review';
        ACC.config.signUpVinIdUrl = '/signup/vinid'; ACC.config.verifyOTPEmailUrl = '/otp/emailverify';
        ACC.config.signupValidateVinOTPUrl = '/signup/validateVinOTP';
        ACC.config.signupValidateADROTPUrl = '/signup/validateADROTP';
        ACC.config.cartUpdateUrl = '/cart/update'; ACC.config.cartDeleteUrl = '/cart/delete';
        ACC.config.cartDeleteEntriesUrl = '/cart/deleteentries'; ACC.config.cartInfoUrl = '/cart/info';
        ACC.config.cartMiniUrl = '/cart/rollover';
        ACC.config.checkoutStepOneUrl = '/checkout/multi/delivery-address/add';
        ACC.config.otpCheckoutNeededUrl = '/checkout/multi/payment-method/needotp';
        ACC.config.validateCartPayment = '/checkout/multi/payment-method/validatepayment';
        ACC.config.refreshCartUrl = '/checkout/multi/payment-method/refreshCart';
        ACC.config.refreshPaymentOptionsUrl = '/checkout/multi/payment-method/refreshpaymentoptions';
        ACC.config.refreshAppliedGiftcode = '/checkout/giftcode/refresh';
        ACC.config.setPasswordUrl = '/checkout/auto-create/setPassword';
        ACC.config.autoCreateVerifyOtpUrl = '/checkout/auto-create/verify-otp';
        ACC.config.otpCheckoutPopupUrl = '/checkout/multi/payment-method/otp';
        ACC.config.otpCheckoutVerifyUrl = '/checkout/multi/payment-method/verifyotp';
        ACC.config.eligibleForVinIdRedeemUrl = '/checkout/vinIDRedeem/eligibleForVinIdRedeem';
        ACC.config.vinIdRedeemInfoUrl = '/checkout/vinIDRedeem/vinIdRedeemInfo';
        ACC.config.verifyVinIdUrl = '/checkout/vinIDRedeem/verifyVinId';
        ACC.config.verifyOTPADRRedeemUrl = '/checkout/vinIDRedeem/verifyOTPADR';
        ACC.config.applyVinIDRedeemUrl = '/checkout/vinIDRedeem/applyVinIDRedeem';
        ACC.config.redeemVinIDUrl = '/checkout/vinIDRedeem/redeemVinID';
        ACC.config.refundVinIDUrl = '/checkout/vinIDRedeem/refundVinID';
        ACC.config.refreshVinIdRedeemUrl = '/checkout/vinIDRedeem/refreshVinIdRedeem';
        ACC.config.applyGiftcodeUrl = '/checkout/giftcode/apply';
        ACC.config.listCouponsUrl = '/checkout/giftcode/listCoupons';
        ACC.config.removeGiftcodeUrl = '/checkout/giftcode/remove';
        ACC.config.removeAllGiftcodeUrl = '/checkout/giftcode/removeAll';
        ACC.config.validateCartUrl = '/checkout/multi/summary/placeOrder/validate';
        ACC.config.forgotPasswordUrl = '/forgot-password';
        ACC.config.forgotPasswordChangeUrl = '/forgot-password/change';
        ACC.config.forgotPasswordResendOtpUrl = '/forgot-password/resend-otp';
        ACC.config.houseBlock = '/checkout/multi/deliveryaddress/houseblock';
        ACC.config.contactUsUrl = '/contact/createTicketForCustomer';
        ACC.config.certonaUpdateUrl = '/certona/results';
        ACC.config.assistedService = {
            createAdjustOrderFormUrl: '/assistedService/createAdjustmentOrderAmount',
            adjustmentOrderReasonsUrl: '/assistedService/reasons',
            involvedDepartmentUrl: '/assistedService/involvedDepartments',
            applyTypeUrl: '/assistedService/applicationTypes',
            orderEntriesUrl: '/assistedService/orders/{orderCode}/orderEntries',
            budgetUrl: '/assistedService/budgets', adjustRequestUrl: '/assistedService/orders/{orderCode}/adjust',
            shippingFeeTypesUrl: '/assistedService/orders/{orderCode}/shippingFeeTypes'
        }; ACC.isMiniCart = false;
        ACC.config.otpRequestType = {
            SIGNIN_MAPPING_VINID_TO_ADR: 'SIGNIN_MAPPING_VINID_TO_ADR',
            SIGNIN_VERIFY_PHONE: 'SIGNIN_VERIFY_PHONE',
            SINGUP_MAPPING_EXISTED_VINID_TO_NEW_ADR: 'SINGUP_MAPPING_EXISTED_VINID_TO_NEW_ADR',
            SIGNIN_VERIFY_EMAIL: 'SIGNIN_VERIFY_EMAIL',
            CHECKOUT_VERIFY_PHONE: 'CHECKOUT_VERIFY_PHONE',
            CHECKOUT_VINID_REDEEM: 'CHECKOUT_VINID_REDEEM',
            AUTO_CREATE_VERIFY_PHONE: 'AUTO_CREATE_VERIFY_PHONE',
            FORGOTTEN_PASSWORD: 'FORGOTTEN_PASSWORD',
        }; ACC.config.isLogin = 'false'; ACC.config.checkout.requireCheckOtp = '';
        document.onreadystatechange = function () {
            if (document.readyState === 'complete') { if (ACC.config.isSuggestVinID === 'true') { ACC.suggestvinid.processSuggestVinID(''); } }
        }; ACC.cartASM = ACC.cartASM || {};
        ACC.cartASM.allowRedirect = "";
        ACC.config.isAsmModify = ""; ACC.deliverydata = ACC.deliverydata || {};
        ACC.deliverydata.changeLocationText = "Thay đổi"; ACC.deliverydata.chooseLocationText = "Chọn địa điểm";
        ACC.message = ACC.message || {}; ACC.message.logoutText = "Thoát";
        ACC.message.sumVinPointText = "Tổng điểm VinID bạn có:";
        ACC.message.sumVinPointTextMobile = "Tổng điểm VinID:";
        ACC.message.topupProviderNotSupport = "Nhà mạng này hiện chưa hỗ trợ nạp thẻ online";
        /*]]>*/ ACC.config.topup = { addToCartUrl: '/cart/add' };
        ACC.devices = ACC.devices || {};
        ACC.devices.name = 'desktop'; ACC.landingADR = ACC.landingADR || {};
        ACC.landingADR.CustomerServicesInfoUrl = 'https://landing.adayroi.com/Survey/CustomerServicesInfo';</script>
    <script type="text/javascript">
        /*<![CDATA[*/ ACC.addons = {}; ACC.addons.vinrockettablebookingaddon = [];
        ACC.addons.vinrocketorderhistory = [];
        ACC.addons.vinrocketinsurancebundleaddon = [];
        ACC.addons.onepaypaymentaddon = [];
        ACC.addons.vinrocketassistedservicestorefront = [];
        ACC.addons.vinrocketassistedservicestorefront['asm.timer.min'] = 'min';
        ACC.addons.momopaymentaddon = [];
        /*]]>*/
    </script>
    <!--[if lt IE 10]><script type="text/javascript" src="https://css-ak.static-adayroi.com/_ui/responsive/common/js/media.match.min.js">
        </script><![endif]-->
    <script type="text/javascript" src="https://css-ak.static-adayroi.com/_ui/responsive/common/js/min/vendors.min.2efec5abeef23f12.js"></script>
    <script type="text/javascript" src="https://css-ak.static-adayroi.com/_ui/responsive/common/js/acc.locationdata.mini.3ep5ayjmxeudz9f7.js" defer=""></script>
    <script type="text/javascript" src="https://css-ak.static-adayroi.com/_ui/responsive/common/js/min/hybris.min.fa2271fa95d1d123.js" defer=""></script>
    <script type="text/javascript" src="https://media-ak.static-adayroi.com/sys_master/dynamic/flashcarousel-94.js" defer=""></script>
    <script type="text/javascript">
        $(window).load(function () {
            ACC.common.loadDynamicFile('script', 'text/javascript', 'https://media-ak.static-adayroi.com/sys_master/dynamic/akamai_tracking-125.js');
        });
    </script>
    <script type="text/javascript">
        $(window).load(function () {
            ACC.common.loadDynamicFile('script', 'text/javascript', 'https://edge1.certona.net/cd/9a61460d/adayroi.com/scripts/resonance.js?v=201811071420');
        });
    </script>
    <script type="text/javascript">
        $(window).load(function () {
            ACC.common.loadDynamicFile('script', 'text/javascript', 'https://css-ak.static-adayroi.com/js/adayroi/external_files.min.js?v=20180731');
        });
    </script>
    <script type="text/javascript" src="https://media-ak.static-adayroi.com/sys_master/dynamic/buynow-128.js" defer=""></script><a href="javascript:void(0)" rel="nofollow" class="btn-goto-top" title="Back to top"></a>
    <script type="text/javascript">
        window.NREUM || (NREUM = {});
        NREUM.info = {
            "errorBeacon": "bam.nr-data.net", "licenseKey": "3e048a051e", "agent": "",
            "beacon": "bam.nr-data.net", "applicationTime": 135, "applicationID": "48470581",
            "transactionName": "NVVWNkFWXEZUVBEMXgwfZxJBXlxSdlgLEUMNXFgHQRh6WlhSNQRWB3NbDEdFXVlZUhdKWQ1dUQ==",
            "queueTime": 0
        }</script>
    <div id="cboxOverlay" style="display: none;">
    </div>
    <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
        <div id="cboxWrapper">
            <div>
                <div id="cboxTopLeft" style="float: left;">
                </div>
                <div id="cboxTopCenter" style="float: left;">
                </div>
                <div id="cboxTopRight" style="float: left;">
                </div>
            </div>
            <div style="clear: left;">
                <div id="cboxMiddleLeft" style="float: left;">
                </div>
                <div id="cboxContent" style="float: left;">
                    <div id="cboxTitle" style="float: left;">
                    </div>
                    <div id="cboxCurrent" style="float: left;">
                    </div><button type="button" id="cboxPrevious"></button>
                    <button type="button" id="cboxNext"></button>
                    <button id="cboxSlideshow"></button>
                    <div id="cboxLoadingOverlay" style="float: left;">
                    </div>
                    <div id="cboxLoadingGraphic" style="float: left;">
                    </div>
                </div>
                <div id="cboxMiddleRight" style="float: left;">
                </div>
            </div><div style="clear: left;">
                <div id="cboxBottomLeft" style="float: left;">
                </div>
                <div id="cboxBottomCenter" style="float: left;">
                </div>
                <div id="cboxBottomRight" style="float: left;">
                </div>
            </div>
        </div>
        <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;">
        </div>
    </div>
    <span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible">
    </span>
    <script type="text/javascript" src="https://media-ak.static-adayroi.com/sys_master/dynamic/akamai_tracking-125.js"></script>
    <script type="text/javascript" src="https://edge1.certona.net/cd/9a61460d/adayroi.com/scripts/resonance.js?v=201811071420"></script>
    <script type="text/javascript" src="https://css-ak.static-adayroi.com/js/adayroi/external_files.min.js?v=20180731"></script>
    <script type="text/javascript" id="">var dataLayerPlatform = "Smartphone" === WURFL.form_factor || "Feature Phone" === WURFL.form_factor ? "m" : "Tablet" === WURFL.form_factor ? "t" : "Desktop" === WURFL.form_factor ? "d" : "other"; dataLayer.push({ platform: dataLayerPlatform });</script>
    <script type="text/javascript" id="">
        var hex_chr = "0123456789abcdef"; function rhex(e) { str = ""; for (j = 0; 3 >= j; j++) str += hex_chr.charAt(e >> 8 * j + 4 & 15) + hex_chr.charAt(e >> 8 * j & 15); return str } function str2blks_MD5(e) { nblk = (e.length + 8 >> 6) + 1; blks = Array(16 * nblk); for (i = 0; i < 16 * nblk; i++) blks[i] = 0; for (i = 0; i < e.length; i++) blks[i >> 2] |= e.charCodeAt(i) << i % 4 * 8; blks[i >> 2] |= 128 << i % 4 * 8; blks[16 * nblk - 2] = 8 * e.length; return blks } function add(e, f) { var g = (e & 65535) + (f & 65535), h = (e >> 16) + (f >> 16) + (g >> 16); return h << 16 | g & 65535 } function rol(e, f) { return e << f | e >>> 32 - f }
        function cmn(e, f, g, h, k, l) { return add(rol(add(add(f, e), add(h, l)), k), g) } function ff(e, f, g, h, k, l, m) { return cmn(f & g | ~f & h, e, f, k, l, m) } function gg(e, f, g, h, k, l, m) { return cmn(f & h | g & ~h, e, f, k, l, m) } function hh(e, f, g, h, k, l, m) { return cmn(f ^ g ^ h, e, f, k, l, m) } function ii(e, f, g, h, k, l, m) { return cmn(g ^ (f | ~h), e, f, k, l, m) }
        function calcMD5(e) {
            x = str2blks_MD5(e); a = 1732584193; b = -271733879; c = -1732584194; d = 271733878; for (i = 0; i < x.length; i += 16) olda = a, oldb = b, oldc = c, oldd = d, a = ff(a, b, c, d, x[i + 0], 7, -680876936), d = ff(d, a, b, c, x[i + 1], 12, -389564586), c = ff(c, d, a, b, x[i + 2], 17, 606105819), b = ff(b, c, d, a, x[i + 3], 22, -1044525330), a = ff(a, b, c, d, x[i + 4], 7, -176418897), d = ff(d, a, b, c, x[i + 5], 12, 1200080426), c = ff(c, d, a, b, x[i + 6], 17, -1473231341), b = ff(b, c, d, a, x[i + 7], 22, -45705983), a = ff(a, b, c, d, x[i + 8], 7, 1770035416), d = ff(d, a, b, c, x[i + 9], 12, -1958414417), c = ff(c, d, a,
                b, x[i + 10], 17, -42063), b = ff(b, c, d, a, x[i + 11], 22, -1990404162), a = ff(a, b, c, d, x[i + 12], 7, 1804603682), d = ff(d, a, b, c, x[i + 13], 12, -40341101), c = ff(c, d, a, b, x[i + 14], 17, -1502002290), b = ff(b, c, d, a, x[i + 15], 22, 1236535329), a = gg(a, b, c, d, x[i + 1], 5, -165796510), d = gg(d, a, b, c, x[i + 6], 9, -1069501632), c = gg(c, d, a, b, x[i + 11], 14, 643717713), b = gg(b, c, d, a, x[i + 0], 20, -373897302), a = gg(a, b, c, d, x[i + 5], 5, -701558691), d = gg(d, a, b, c, x[i + 10], 9, 38016083), c = gg(c, d, a, b, x[i + 15], 14, -660478335), b = gg(b, c, d, a, x[i + 4], 20, -405537848), a = gg(a, b, c, d, x[i + 9], 5, 568446438),
                d = gg(d, a, b, c, x[i + 14], 9, -1019803690), c = gg(c, d, a, b, x[i + 3], 14, -187363961), b = gg(b, c, d, a, x[i + 8], 20, 1163531501), a = gg(a, b, c, d, x[i + 13], 5, -1444681467), d = gg(d, a, b, c, x[i + 2], 9, -51403784), c = gg(c, d, a, b, x[i + 7], 14, 1735328473), b = gg(b, c, d, a, x[i + 12], 20, -1926607734), a = hh(a, b, c, d, x[i + 5], 4, -378558), d = hh(d, a, b, c, x[i + 8], 11, -2022574463), c = hh(c, d, a, b, x[i + 11], 16, 1839030562), b = hh(b, c, d, a, x[i + 14], 23, -35309556), a = hh(a, b, c, d, x[i + 1], 4, -1530992060), d = hh(d, a, b, c, x[i + 4], 11, 1272893353), c = hh(c, d, a, b, x[i + 7], 16, -155497632), b = hh(b, c, d,
                    a, x[i + 10], 23, -1094730640), a = hh(a, b, c, d, x[i + 13], 4, 681279174), d = hh(d, a, b, c, x[i + 0], 11, -358537222), c = hh(c, d, a, b, x[i + 3], 16, -722521979), b = hh(b, c, d, a, x[i + 6], 23, 76029189), a = hh(a, b, c, d, x[i + 9], 4, -640364487), d = hh(d, a, b, c, x[i + 12], 11, -421815835), c = hh(c, d, a, b, x[i + 15], 16, 530742520), b = hh(b, c, d, a, x[i + 2], 23, -995338651), a = ii(a, b, c, d, x[i + 0], 6, -198630844), d = ii(d, a, b, c, x[i + 7], 10, 1126891415), c = ii(c, d, a, b, x[i + 14], 15, -1416354905), b = ii(b, c, d, a, x[i + 5], 21, -57434055), a = ii(a, b, c, d, x[i + 12], 6, 1700485571), d = ii(d, a, b, c, x[i + 3], 10,
                        -1894986606), c = ii(c, d, a, b, x[i + 10], 15, -1051523), b = ii(b, c, d, a, x[i + 1], 21, -2054922799), a = ii(a, b, c, d, x[i + 8], 6, 1873313359), d = ii(d, a, b, c, x[i + 15], 10, -30611744), c = ii(c, d, a, b, x[i + 6], 15, -1560198380), b = ii(b, c, d, a, x[i + 13], 21, 1309151649), a = ii(a, b, c, d, x[i + 4], 6, -145523070), d = ii(d, a, b, c, x[i + 11], 10, -1120210379), c = ii(c, d, a, b, x[i + 2], 15, 718787259), b = ii(b, c, d, a, x[i + 9], 21, -343485551), a = add(a, olda), b = add(b, oldb), c = add(c, oldc), d = add(d, oldd); return rhex(a) + rhex(b) + rhex(c) + rhex(d)
        };</script>
    <script type="text/javascript" id="">
        var getTrackingUrlParameter = function (f) { var b = decodeURIComponent(window.location.search.substring(1)); b = b.split("\x26"); var e; for (e = 0; e < b.length; e++) { var a = b[e].split("\x3d"); if (a[0] === f) return void 0 === a[1] ? !0 : a[1] } }, funConvert = function (f) {
            var b = [, {}]; b[1].Page = {}; b[2] = {}; b[3] = {}; for (var e = 0; e < f.length; e++) {
                var a = f[e]; 0 == e && (b[0] = a); b[1].href = window.location.href; null != a.Page && (b[1].Page.pageType = a.Page.pageType, b[1].Page.referrer = document.referrer, b[1].Page.mainCategory = a.Page.mainCategory, b[1].Page.subCategory1 =
                    a.Page.subCategory1, b[1].Page.subCategory2 = a.Page.subCategory2, b[1].Page.subCategory3 = a.Page.subCategory3, b[1].Page.subCategory4 = a.Page.subCategory4); null != a.Custommer && (b[1].Customer = {}, b[1].Customer.customerId = a.Custommer.custommerId, b[1].Customer.customerGender = a.Custommer.custommerGender, b[1].Customer.customerCity = a.Custommer.custommerCity, b[1].Customer.customerType = "", b[1].Customer.firstVisit = ""); if (null != a.ecommerce) {
                        b[1].ecommerce = {}; b[1].ecommerce.purchase = {}; null != a.ecommerce.purchase && a.ecommerce.purchase.actionField !=
                            nul && (b[1].ecommerce.purchase.actionField.id = a.ecommerce.purchase.actionField.id, b[1].ecommerce.purchase.actionField.revenue = a.ecommerce.purchase.actionField.revenue, b[1].ecommerce.purchase.actionField.shipping = a.ecommerce.purchase.actionField.shipping, b[1].ecommerce.purchase.actionField.coupon = a.ecommerce.purchase.actionField.coupon, b[1].ecommerce.purchase.actionField.option = a.ecommerce.purchase.actionField.option); if (null != a.ecommerce.purchase && null != a.ecommerce.purchase.products) for (var c = 0; c <
                                a.ecommerce.purchase.products.length; c++) { var d = {}; d.name = a.ecommerce.purchase.products[c].name; d.brand = a.ecommerce.purchase.products[c].brand; d.category = a.ecommerce.purchase.products[c].category; d.id = a.ecommerce.purchase.products[c].id; d.price = a.ecommerce.purchase.products[c].price; d.variant = a.ecommerce.purchase.products[c].variant; d.quantity = a.ecommerce.purchase.products[c].quantity; b[1].ecommerce.purchase = {}; b[1].ecommerce.purchase.products = []; b[1].ecommerce.purchase.products.push(d) } if (null !=
                                    a.ecommerce.detail && null != a.ecommerce.detail && 0 < a.ecommerce.detail.products.length) for (c = 0; c < a.ecommerce.detail.products.length; c++) d = {}, d.name = a.ecommerce.detail.products[c].name, d.brand = a.ecommerce.detail.products[c].brand, d.category = a.ecommerce.detail.products[c].category, d.id = a.ecommerce.detail.products[c].id, d.price = a.ecommerce.detail.products[c].price, d.variant = a.ecommerce.detail.products[c].variant, d.quantity = "", b[1].ecommerce.detail = {}, b[1].ecommerce.detail.products = [], b[1].ecommerce.detail.products.push(d)
                    } null !=
                        a.brand && (b[2].brand = {}, b[2].brand.brandId = a.brandId, b[2].brand.brandName = a.brand); null != a.landing && (b[2].landing = {}, b[2].landing.landingId = a.landing.landingId, b[2].landing.groupId = "", b[2].landing.landingType = a.landing.landingType); null != a.location && (b[2].location = {}, b[2].location.userCity = a.location.userCity, b[2].location.userDistrict = a.location.userDistrict, b[2].location.userWard = a.location.userWard, b[2].location.userText = a.location.userText); null != a.merchant && (b[2].merchant = {}, b[2].merchant.merchantId =
                            a.merchantId, b[2].merchant.merchantName = a.merchant, b[2].merchant.merchantCode = ""); null != a.pageInfo && (b[2].pageInfo = {}, b[2].pageInfo.platform = a.pageInfo.platform, b[2].pageInfo.pageType = a.pageInfo.pageType); null != a.platform && (b[2].pageInfo = {}, b[2].pageInfo.platform = f.platform); null != a.user && (b[2].user = {}, b[2].user.isLoggedIn = "", b[2].user.isConnectedToVingroupCard = null != a.user.isConnectedToVingroupCard ? a.user.isConnectedToVingroupCard : "", b[2].user.userId = a.user.userId, b[2].user.fullName = a.user.fullName,
                                b[2].user.mobileNumber = a.user.mobileNumber, b[2].user.email = a.user.email); null != a.query && null != a.numFound && (b[2].search = {}, b[2].search.query = a.query, b[2].search.numfound = a.numFound); null != a.category && (b[2].category = {}, b[2].category.catId = a.categoryId, b[2].category.catName = null != a.category ? a.category : ""); if (null != a.ecomm_pagetype) {
                                    b[3] = {}; b[3].ecomm_pagetype = a.ecomm_pagetype; if (null != a.ecomm_prodid && 0 < a.ecomm_prodid.length) for (c = 0; c < a.ecomm_prodid.length; c++) d = "ecomm_prodid_" + c, b[3][d] = a.ecomm_prodid[c];
                                    null != a.ecomm_totalvalue && (b[3].ecomm_totalvalue = a.ecomm_totalvalue)
                                } null != a.event && (c = b.length, b[c] = {}, b[c].event = a.event)
            } f = window.location.href; -1 != f.indexOf("/tim-kiem?") && null == b[1].Page.pageType && (b[1].Page.pageType = "Search Page", b[1].Page.referrer = document.referrer); return b
        };</script>
    <script type="text/javascript" id="">
        var logSys = function () {
            var g = "https://log.adayroi.com/api/log-receiver", h = "v20161221.006", k = !0, b = {
                cleanKey: function (a) { var b = /datalayer_gtm.|datalayer_event/i, c = /^datalayer_[0-9]+_/i, d = "datalayer_"; return (a = a.toLowerCase().replace(c, d)) && !b.test(a) ? a : null }, flattenObject: function (a) {
                    var f = {}; (function l(a, b) { for (var c in a) { var e = a[c]; if (!e || null == e.event || "productImpressions" != e.event) { var d = b ? b + "_" + c : c; e && "object" === typeof e ? l(e, d) : f[d] = e } } })(a); a = {}; for (var c in f) {
                        var d = b.cleanKey(c); null != d && "undefined" !==
                            typeof d && null != f[c] && "undefined" !== typeof f[c] && "" != f[c] && (a[d] = f[c])
                    } return a
                }, sendLog: function (a) { a = JSON.parse(JSON.stringify(a)); a.api_version = h; k && $.ajax(g, { type: "POST", dataType: "json", data: b.flattenObject(a) }) }, onDOMready: function () { b.sendLog({ eventType: "FE1_DOM-ready", dataLayer: dataLayer }) }, onProductClick: function (a) { dataLayer.push({ event: "productInListingClick", ecommerce: { productInListingClick: { product: [a] } } }); b.sendLog({ eventType: "FE1_Listing_Click-Product", dataLayer: dataLayer }) }, onFilterInListingClick: function (a) {
                    dataLayer.push({
                        event: "filterInListingClick",
                        ecommerce: { filterInListingClick: a }
                    }); b.sendLog({ eventType: "FE1_Listing_Click-Add-Filter", dataLayer: dataLayer })
                }, onFilterRemoveInListingClick: function (a) { dataLayer.push({ event: "filterRemoveInListingClick", ecommerce: { filterRemoveInListingClick: a } }); b.sendLog({ eventType: "FE1_Listing_Click-Remove-Filter", dataLayer: dataLayer }) }, onPagingListingClick: function (a) { dataLayer.push({ event: "pagingListingClick", ecommerce: { pagingListingClick: a } }); b.sendLog({ eventType: "FE1_Listing_Click-Paging", dataLayer: dataLayer }) },
                onOrderListingClick: function (a) { dataLayer.push({ event: "orderListingClick", ecommerce: { orderListingClick: a } }); b.sendLog({ eventType: "FE1_Listing_Click-Order", dataLayer: dataLayer }) }, onSuggestionClick: function (a) { dataLayer.push({ event: "suggestionClick", ecommerce: { suggestionClick: a } }); b.sendLog({ eventType: "FE1_Click-Suggest", dataLayer: dataLayer }) }, onAddToCartClick: function () { b.sendLog({ eventType: "FE1_Click-AddToCart", dataLayer: dataLayer }) }, onTrackingButtonCheckOutClick: function () {
                    b.sendLog({
                        eventType: "FE1_Click_CheckoutFromBtnAddToCart",
                        dataLayer: dataLayer
                    })
                }, onTrackingButtonClosePopupCartFromAddToCart: function () { b.sendLog({ eventType: "FE1_Click_ClosePopupCartFromAddToCart", dataLayer: dataLayer }) }
            }; return b
        }();</script>
    <script type="text/javascript" id="" src="//adayroi.api.useinsider.com/ins.js?id=10001810"></script>
    <script type="text/javascript" id="">
        var adr_current_page = google_tag_manager["GTM-TMHP8LD"].macro(8), fbevents_fc = function () {
            !function (a, e, f, g, b, c, d) { a.fbq || (b = a.fbq = function () { b.callMethod ? b.callMethod.apply(b, arguments) : b.queue.push(arguments) }, a._fbq || (a._fbq = b), b.push = b, b.loaded = !0, b.version = "2.0", b.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d)) }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js"); fbq("init", "766963776744234"); fbq("track", "PageView", {
                content_brand: google_tag_manager["GTM-TMHP8LD"].macro(15),
                content_category: google_tag_manager["GTM-TMHP8LD"].macro(27)
            }); jQuery(document).trigger("fbevent:initialized")
        }; if (WURFL.is_mobile || 0 === adr_current_page.indexOf("ThankYou")) fbevents_fc(); else { var load_fbevents = !1; document.addEventListener("mouseover", function () { load_fbevents || (load_fbevents = !0, fbevents_fc()) }) }
        function convertVietnamese(a) {
            a = a.toLowerCase(); a = a.replace(/\u00e0|\u00e1|\u1ea1|\u1ea3|\u00e3|\u00e2|\u1ea7|\u1ea5|\u1ead|\u1ea9|\u1eab|\u0103|\u1eb1|\u1eaf|\u1eb7|\u1eb3|\u1eb5/g, "a"); a = a.replace(/\u00e8|\u00e9|\u1eb9|\u1ebb|\u1ebd|\u00ea|\u1ec1|\u1ebf|\u1ec7|\u1ec3|\u1ec5/g, "e"); a = a.replace(/\u00ec|\u00ed|\u1ecb|\u1ec9|\u0129/g, "i"); a = a.replace(/\u00f2|\u00f3|\u1ecd|\u1ecf|\u00f5|\u00f4|\u1ed3|\u1ed1|\u1ed9|\u1ed5|\u1ed7|\u01a1|\u1edd|\u1edb|\u1ee3|\u1edf|\u1ee1/g, "o");
            @*a = a.replace(/\u00f9|\u00fa|\u1ee5|\u1ee7|\u0169|\u01b0|\u1eeb|\u1ee9|\u1ef1|\u1eed|\u1eef/g, "u"); a = a.replace(/\u1ef3|\u00fd|\u1ef5|\u1ef7|\u1ef9/g, "y"); a = a.replace(/\u0111/g, "d"); a = a.replace(/!|@|%|\^|\*|\(|\)|\+|=|<|>|\?|\/|,|\.|:|;|'| |"|&|#|\[|\]|~|$|_/g, "-"); a = a.replace(/-+-/g, "-"); return a = a.replace(/^\-+|\-+$/g, "")*@
        };
    </script>

    <script type="text/javascript" id="">
        window.$zopim || function (c, d) {
            var b = $zopim = function (a) { b._.push(a) }, a = b.s = c.createElement(d), e = c.getElementsByTagName(d)[0]; b.set = function (a) { b.set._.push(a) };
            b._ = []; b.set._ = []; a.async = !0; a.setAttribute("charset", "utf-8");
            a.src = "https://v2.zopim.com/?52VHNT63LNSDYzsViPFw7NiiQ5qpaOWh";
            b.t = +new Date; a.type = "text/javascript"; e.parentNode.insertBefore(a, e)
        }(document, "script");</script>
    <script type="text/javascript" id="" src="//static.criteo.net/js/ld/ld.js"></script>
    <script type="text/javascript" id="">
        window.setTimeout(function () {
            logSys.onDOMready(); $(".facet-group .facet-group-content .facet-list li[data-label]").bind("click", function () { var a = $(this); logSys.onFilterInListingClick({ filterType: a.data("filter-type"), filterSubType: a.data("filter-sub-type"), filterId: a.data("filter-id"), filterValue: a.data("id"), filterLabel: a.data("label") }) }); $("#section__selected-option ul.facet-list li a").on("click", function () {
                var a = $(this), d = a.data("action") ? !0 : !1; a = {
                    filterType: a.data("filter-type"), filterId: a.data("filter-id"),
                    filterValue: a.data("id")
                }; d && (a = { filterId: "remove-all", filterValue: "remove-all" }); logSys.onFilterRemoveInListingClick({ action: a })
            }); $(".product-list__container div.product-item__wrapper").bind("click", function () {
                var a = $(this), d = $(this).index() + 1, c = parseInt(getTrackingUrlParameter("page")) || 0; 1 <= c && (d = 60 * c + d); c = $(this).find(".product-item__info-title"); var b = null; null != c && (b = c.attr("href"), "" != b && (b = b.split("?offer\x3d")[1], null != b && -1 != b.indexOf("\x26") && (b = b.split("\x26")[0]))); console.log(b + "_ pos _" +
                    d); logSys.onProductClick({ productItemId: b, warehouseId: a.data("warehouse-id"), position: d })
            }); $(".section__category li a").bind("click", function () { var a = $(this); logSys.onFilterInListingClick({ filterType: a.data("filter-type"), filterSubType: a.data("filter-sub-type"), filterId: a.data("filter-id"), filterValue: a.data("id"), filterLabel: a.data("label") }) }); $("ul.pagination li a").bind("click", function () { var a = $(this); logSys.onPagingListingClick({ paging: a.data("paging") }) }); $(".js-product-list__order ul.dropdown-menu li.js-form-submit a").bind("click",
                function () { var a = $(this); logSys.onOrderListingClick({ sortType: a.data("sort-type"), sortLabel: a.data("sort-label") }) }); $("#addToCartButton").bind("click", function () { window.setTimeout(function () { logSys.onAddToCartClick(); var a = $("#colorbox"); null != a && 0 < a.length && a.addClass("trackingFromBtnCart") }, 500) }); $(document).ajaxComplete(function (a, d, c) {
                    -1 != c.url.indexOf("/autocomplete/AdayroiSearchBoxComponent") && window.setTimeout(function () {
                        $(".ui-autocomplete li").bind("click", function () {
                            var a = $(this); logSys.onSuggestionClick({
                                suggestionType: a.data("suggestion-type"),
                                suggestionValue: a.data("suggestion-value"), suggestionCatId: a.data("suggestion-catid"), suggestionCatName: a.data("suggestion-catname"), suggestionCatKeyword: a.data("suggestion-catkeyword")
                            })
                        })
                    }, 200); -1 != c.url.indexOf("/cart/rollover") && window.setTimeout(function () {
                        $(".cart-submit").bind("click", function () { var a = $(".cart-submit").closest("#colorbox"); null != a && 0 < a.length && a.hasClass("trackingFromBtnCart") && (logSys.onTrackingButtonCheckOutClick(), a.removeClass("trackingFromBtnCart")) }); $("#cboxClose").bind("click",
                            function () { var a = $("#cboxClose").closest("#colorbox"); null != a && 0 < a.length && a.hasClass("trackingFromBtnCart") && (logSys.onTrackingButtonClosePopupCartFromAddToCart(), a.removeClass("trackingFromBtnCart")) }); $("#cboxOverlay").bind("click", function () { var a = $(".trackingFromBtnCart"); null != a && 0 < a.length && (logSys.onTrackingButtonClosePopupCartFromAddToCart(), a.removeClass("trackingFromBtnCart")) })
                    }, 200)
                })
        }, 400);</script><iframe src="https://asia.creativecdn.com/tags?id=pr_ch0pJwbciq6diG9UcQ6L_home" width="1" height="1" scrolling="no" frameborder="0" style="display: none;"></iframe>
    <script type="text/javascript" id="">
        function _toConsumableArray(a) { if (Array.isArray(a)) { for (var c = 0, f = Array(a.length) ; c < a.length; c++) f[c] = a[c]; return f } return Array.from(a) }
        var criteoTracks = function (a) {
            var c, f, g, d = "Smartphone" === WURFL.form_factor || "Feature Phone" === WURFL.form_factor ? "m" : "Tablet" === WURFL.form_factor ? "t" : "Desktop" === WURFL.form_factor ? "d" : "other"; window.criteo_q = window.criteo_q || []; d = [{ event: "setAccount", account: 35085 }, { event: "setSiteType", type: d }]; var b = google_tag_manager["GTM-TMHP8LD"].macro(29); switch (a) {
                case "Home": return (c = window.criteo_q).push.apply(c, _toConsumableArray(d).concat([{ event: "viewHome" }])); case "Product": return (f = window.criteo_q).push.apply(f, _toConsumableArray(d).concat([{
                    event: "viewItem",
                    item: google_tag_manager["GTM-TMHP8LD"].macro(30)
                }])); case "Checkout": var e = []; a = google_tag_manager["GTM-TMHP8LD"].macro(31); if (void 0 != a) for (b = 0, c = a.length; b < c; b++) e.push({ id: a[b].id, quantity: parseInt(a[b].quantity), price: parseInt(a[b].price.discounted ? a[b].price.discounted : a[b].price.original) }); return (g = window.criteo_q).push.apply(g, _toConsumableArray(d).concat([{ event: "viewBasket", currency: "VND", item: e }])); case "ThankYou": if (g = google_tag_manager["GTM-TMHP8LD"].macro(32), a = google_tag_manager["GTM-TMHP8LD"].macro(33), g && a) {
                    var h; e = []; if (void 0 != a) for (b = 0, c = a.length; b < c; b++) e.push({
                        id: a[b].id,
                        quantity: parseInt(a[b].quantity), price: parseInt(a[b].price.discounted ? a[b].price.discounted : a[b].price.original)
                    }); return (h = window.criteo_q).push.apply(h, _toConsumableArray(d).concat([{ event: "trackTransaction", currency: "VND", id: g, item: e }]))
                } case "Search-Merchant": return (e = window.criteo_q).push.apply(e, _toConsumableArray(d).concat([{ event: "viewList", item: b.slice(1, 4) }])); case "Search-Brand": var k; return (k = window.criteo_q).push.apply(k, _toConsumableArray(d).concat([{
                    event: "viewList", item: b.slice(1,
                        4)
                }])); case "Search-Category": var l; return (l = window.criteo_q).push.apply(l, _toConsumableArray(d).concat([{ event: "viewList", item: b.slice(1, 4) }])); case "Search-Query": var m; return (m = window.criteo_q).push.apply(m, _toConsumableArray(d).concat([{ event: "viewList", item: b.slice(1, 4) }])); case "Cart": var n; return (n = window.criteo_q).push.apply(n, _toConsumableArray(d).concat([{ event: "viewBasket", item: b.slice(1, 4) }]))
            }
        }, pageType = google_tag_manager["GTM-TMHP8LD"].macro(34);
        if (WURFL.is_mobile) criteoTracks(pageType); else { var init_criteo_tracking = !1; document.addEventListener("mouseover", function () { init_criteo_tracking || (criteoTracks(pageType), init_criteo_tracking = !0) }) };</script><iframe id="spWorker" src="https://adayroi.api.useinsider.com/worker.html?new=false" style="display: none;"></iframe><!-- Global site tag (gtag.js) - Google Ads: 960835642 -->
    <!-- Event snippet for Insider-LTP: High remarketing page -->
    <iframe src="https://bid.g.doubleclick.net/xbbe/pixel?d=KAE" style="display: none;"></iframe><iframe src="https://bid.g.doubleclick.net/xbbe/pixel?d=KAE" style="display: none;"></iframe><div id="criteo-tags-div" style="display: none;"></div>
</body>
</html>