@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Danh sách loại sản phẩm</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách sản phẩm
                <div class="pull-right">
                    @*<i class="fa fa-plus"></i>*@
                    @Html.ActionLink("Tạo mới", "Create", "Product")
                </div>
            </div>
            
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Tên hiển thị</th>
                                <th>Mã sản phẩm</th>
                                <th>Trạng thái</th>
                                <th>Loại sản phẩm</th>
                                <th>Giá</th>
                                <th>Giá khuyến mãi</th>
                                <th>Số lượng</th>
                                <th>Ảnh</th>
                                <th>Xóa/ Sửa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count(); i++)
                            {
                            <tr id="row_@Model[i].ID">
                                <td>@(i + 1)</td>
                                <td>@Model[i].ID</td>
                                <td>@Model[i].Name</td>
                                <td>@Model[i].Code</td>
                                <td><a href="#" class="btn-status" data-id="@Model[i].ID">@(Model[i].Status == true ? "Hoạt động" : "Tạm khóa")</a></td>
                                @*<td>@(Model[i].Status == true ? "Hoạt động" : "Tạm khóa")</td>*@
                                <td>@Model[i].CategoryID</td>
                                <td>@Model[i].Price</td>
                                <td>@Model[i].PromotionPrice</td>
                                <td>@Model[i].Quantity</td>
                                <td><img width="100px" height="80px" src="@Model[i].Image" alt="Alternate Text" /></td>
                                <td class="center">
                                    <a href="#" data-id="@Model[i].ID" class="btn-images">Quản lý ảnh</a>|
                                    <a href="/Admin/Product/Update/@Model[i].ID">Sửa</a>|
                                    @Ajax.ActionLink("Xóa","Delete",new { @id = Model[i].ID }, new AjaxOptions {
                                   Confirm = "Bạn có muốn xóa bản ghi này?",
                                   OnComplete = "$('#row_"+Model[i].ID+"').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div id="imagesManager" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quản lý ảnh</h4>
            </div>
            <div class="modal-body">
                <div id="imageList" style="margin:5px;">

                </div>
                <div class="clear">

                </div>
                <input type="button" id="btnChooseImage"  class="btn btn-primary" value="Chọn ảnh" />
                <input type="hidden" id="hidProductID" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSaveImages">Lưu</button>
                <button type="button" class="btn btn-default" id="btnCloseModel">Đóng</button>
            </div>
        </div>

    </div>
</div>

@section jsFooter{  
<script src="/Assets/js/controller/productController.js"></script>
    }
